<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.SheetMapper">

	<select id="getpnumber" parameterType="java.lang.String" resultType="java.lang.String">
		select
			U_SEQ AS u_seq
		from
			user_list
		where
			U_ID = #{id}
	</select>
	
	<select id="getsheetcount" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT 
			COUNT(0) 
		FROM
			sheet_list
		WHERE
			S_U_SEQ = #{u_seq}
	</select>
	
	<select id="getsheet" parameterType="PagingDTO" resultType="PerDTO">
		SET
			@ROWNUM:=#{pageNum};
		SELECT
			@ROWNUM:=@ROWNUM+1 AS no,
			S_SEQ AS s_seq,
			S_NAME AS name,
			S_DATE AS date,
			S_PRES AS pres
		FROM
			sheet_list
		WHERE
			S_U_SEQ=#{u_seq}
		LIMIT
			#{pageNum},5
	</select>
	
	<select id="getsheetinfo" parameterType="java.lang.String" resultType="PerDTO">
		SELECT
			S_SEQ AS s_seq,
			S_CONTENT AS content,
			S_NAME AS name,
			S_DNAME AS dname,
			S_DATE AS date,
			S_PRES AS pres,
			S_PNUMBER AS pnumber
		FROM
			sheet_list
		WHERE
			S_SEQ=#{s_seq}
	</select>

</mapper>