@charset "utf-8";

.style-jnitutu5screenWidthBackground
	{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.style-jnitutu5[data-state~="fixedPosition"] {
	position: fixed !important;
	left: auto !important;
	z-index: 50;
}

.style-jnitutu5[data-state~="fixedPosition"].style-jnitutu5_footer {
	top: auto;
	bottom: 0;
}

.style-jnitutu5_bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 1);
	border-top: 0px solid rgba(0, 0, 0, 1);
	border-bottom: 0px solid rgba(0, 0, 0, 1);
}

.style-jnitutu5bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.style-jnitutu5[data-state~="mobileView"] .style-jnitutu5bg {
	left: 10px;
	right: 10px;
}

.style-jnitutu5_bg-center {
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0px;
	left: 0;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 0;
}

.style-jnitutu5inlineContent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.style-jnitutu5centeredContent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}