@charset "UTF-8";

.color_0 {
	color: #FFFFFF;
}

.backcolor_0 {
	background-color: #FFFFFF;
}

.color_1 {
	color: #FFFFFF;
}

.backcolor_1 {
	background-color: #FFFFFF;
}

.color_2 {
	color: #000000;
}

.backcolor_2 {
	background-color: #000000;
}

.color_3 {
	color: #ED1C24;
}

.backcolor_3 {
	background-color: #ED1C24;
}

.color_4 {
	color: #0088CB;
}

.backcolor_4 {
	background-color: #0088CB;
}

.color_5 {
	color: #FFCB05;
}

.backcolor_5 {
	background-color: #FFCB05;
}

.color_6 {
	color: #727272;
}

.backcolor_6 {
	background-color: #727272;
}

.color_7 {
	color: #B0B0B0;
}

.backcolor_7 {
	background-color: #B0B0B0;
}

.color_8 {
	color: #FFFFFF;
}

.backcolor_8 {
	background-color: #FFFFFF;
}

.color_9 {
	color: #727272;
}

.backcolor_9 {
	background-color: #727272;
}

.color_10 {
	color: #B0B0B0;
}

.backcolor_10 {
	background-color: #B0B0B0;
}

.color_11 {
	color: #FFFFFF;
}

.backcolor_11 {
	background-color: #FFFFFF;
}

.color_12 {
	color: #E8E8E8;
}

.backcolor_12 {
	background-color: #E8E8E8;
}

.color_13 {
	color: #C7C7C7;
}

.backcolor_13 {
	background-color: #C7C7C7;
}

.color_14 {
	color: #7A7979;
}

.backcolor_14 {
	background-color: #7A7979;
}

.color_15 {
	color: #000000;
}

.backcolor_15 {
	background-color: #000000;
}

.color_16 {
	color: #F5FDFC;
}

.backcolor_16 {
	background-color: #F5FDFC;
}

.color_17 {
	color: #6DD8C5;
}

.backcolor_17 {
	background-color: #6DD8C5;
}

.color_18 {
	color: #01C5A2;
}

.backcolor_18 {
	background-color: #01C5A2;
}

.color_19 {
	color: #01836C;
}

.backcolor_19 {
	background-color: #01836C;
}

.color_20 {
	color: #004236;
}

.backcolor_20 {
	background-color: #004236;
}

.color_21 {
	color: #ADD1E7;
}

.backcolor_21 {
	background-color: #ADD1E7;
}

.color_22 {
	color: #8AB5D0;
}

.backcolor_22 {
	background-color: #8AB5D0;
}

.color_23 {
	color: #0063A0;
}

.backcolor_23 {
	background-color: #0063A0;
}

.color_24 {
	color: #074D78;
}

.backcolor_24 {
	background-color: #074D78;
}

.color_25 {
	color: #003150;
}

.backcolor_25 {
	background-color: #003150;
}

.color_26 {
	color: #DEB8F1;
}

.backcolor_26 {
	background-color: #DEB8F1;
}

.color_27 {
	color: #C892E2;
}

.backcolor_27 {
	background-color: #C892E2;
}

.color_28 {
	color: #A23DD4;
}

.backcolor_28 {
	background-color: #A23DD4;
}

.color_29 {
	color: #6C298D;
}

.backcolor_29 {
	background-color: #6C298D;
}

.color_30 {
	color: #361447;
}

.backcolor_30 {
	background-color: #361447;
}

.color_31 {
	color: #EEC5E5;
}

.backcolor_31 {
	background-color: #EEC5E5;
}

.color_32 {
	color: #DDA4D1;
}

.backcolor_32 {
	background-color: #DDA4D1;
}

.color_33 {
	color: #CC62B5;
}

.backcolor_33 {
	background-color: #CC62B5;
}

.color_34 {
	color: #884179;
}

.backcolor_34 {
	background-color: #884179;
}

.color_35 {
	color: #44213C;
}

.backcolor_35 {
	background-color: #44213C;
}